In [1]:
# # -*- coding: utf-8 -*-

#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# #%% Importing Data
flights_data_df = pd.read_csv('flights.csv') #I prefer to call these "df" for dataframe and "arr" for array. This command creates a dataframe from the CSV
weather_data_df = pd.read_csv('weather.csv') #importing weather csv as a dataframe
weather_data_arr = weather_data_df.to_numpy() #this command converts the dataframe to a numpy 2-D array
flights_data_df.head(10) #Gives the first few rows (5 by default; 10 in this case)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
5,6,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
6,7,2013,1,1,555.0,-5.0,913.0,19.0,B6,N516JB,507,EWR,FLL,158.0,1065,5.0,55.0
7,8,2013,1,1,557.0,-3.0,709.0,-14.0,EV,N829AS,5708,LGA,IAD,53.0,229,5.0,57.0
8,9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
9,10,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0

In [3]:
#But i am also interested in the data types, number of records, etc. in the flights and weather dfs. If we turned the weather df into an array, I'm guessing all the data types are the same, but I'm going to check nonetheless with "info" on the dataframe.
flights_data_df.info()
weather_data_df.info() #This is the DATAFRAME before it is turned into an array.
np.info(weather_data_arr) #And this is the ARRAY.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 17 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  336776 non-null  int64
 1   year        336776 non-null  int64
 2   month       336776 non-null  int64
 3   day         336776 non-null  int64
 4   dep_time    328521 non-null  float64
 5   dep_delay   328521 non-null  float64
 6   arr_time    328063 non-null  float64
 7   arr_delay   327346 non-null  float64
 8   carrier     336776 non-null  object
 9   tailnum     334264 non-null  object
 10  flight      336776 non-null  int64
 11  origin      336776 non-null  object
 12  dest        336776 non-null  object
 13  air_time    327346 non-null  float64
 14  distance    336776 non-null  int64
 15  hour        328521 non-null  float64
 16  minute      328521 non-null  float64
dtypes: float64(7), int64(6), object(4)
memory usage: 43.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8719 entries, 0 to 8718
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8719 non-null   int64
 1   origin      8719 non-null   object
 2   year        8719 non-null   int64
 3   month       8718 non-null   float64
 4   day         8718 non-null   float64
 5   hour        8718 non-null   float64
 6   temp        8718 non-null   float64
 7   dewp        8718 non-null   float64
 8   humid       8718 non-null   float64
 9   wind_dir    8486 non-null   float64
 10  wind_speed  8718 non-null   float64
 11  wind_gust   8718 non-null   float64
 12  precip      8719 non-null   float64
 13  pressure    7780 non-null   float64
 14  visib       8719 non-null   float64
dtypes: float64(12), int64(2), object(1)
memory usage: 1021.9+ KB
class:  ndarray
shape:  (8719, 15)
strides:  (8, 69752)
itemsize:  8
aligned:  True
contiguous:  False
fortran:  True
data pointer: 0x7c48e8000
byteorder:  little
byteswap:  False
type: object

%% Pandas Data Filtering/Sorting Question Answering
(use flights_data)

In [4]:
# #Question 1 How many flights were there from JFK to SLC? Int

flights_orgn_dest = flights_data_df[["origin","dest"]] #Though not strictly necessary, limiting the dataset to just origin and destination
num_flights_jfk_slc = flights_orgn_dest[(flights_orgn_dest["origin"]=="JFK") & (flights_orgn_dest["dest"]=="SLC")] #FILTERING for origins that are "JFK" and destinations that are "SLC"
print(f"q_1: There were {len(num_flights_jfk_slc)} flights from JFK to SLC.") #the length of the filtered dataframe gives us the number of rows/records.

q_1: There were 2113 flights from JFK to SLC.

In [5]:
# #Question 2 How many airlines fly to SLC? Should be int

flights_dest_slc = flights_data_df[(flights_data_df["dest"] == "SLC")] #Filtering the "dest" column for flights into SLC
unique_airlines = flights_dest_slc["carrier"].unique() #Taking the filtered df and applying the "unique" method to the "carrier" column to get unique carriers.
print(f"q_2: There are {len(unique_airlines)} airlines that fly into SLC: {unique_airlines[0]} and {unique_airlines[1]}.")#the length of the filtered dataframe gives us the number of rows/records, and we retrieve the values at indexes 0 and 1, the only two values in the series.

q_2: There are 2 airlines that fly into SLC: DL and B6.

In [6]:
# #Question 3 What is the average arrival delay for flights to RDU? float

flights_to_rdu = flights_data_df[(flights_data_df["dest"] == "RDU")]#Filtering the "dest" column for flights into RDU
rdu_avg_arr_delay = flights_to_rdu["arr_delay"].mean() #Taking the filtered df and applying the "mean" method to the "arr_delay" column to find the mean/average arrival delay within the filtered flights.
print(f"q_3: The average arrival delay for flights to RDU is {round(rdu_avg_arr_delay,2)} minutes.") #Rounding the answer to 2 decimal points

q_3: The average arrival delay for flights to RDU is 10.05 minutes.

In [7]:
# #Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
flights_to_sea = flights_data_df[(flights_data_df["dest"] == "SEA")]#Filtering the "dest" column for flights into SEA
flights_from_NYC = flights_to_sea[(flights_to_sea["origin"] == "LGA") | (flights_to_sea["origin"] == "JFK")] #filtering flights to SEA for flights from 2 NYC airports, JFK OR LGA
print(f"q_4: Of the {len(flights_to_sea)} flights to SEA, {len(flights_from_NYC)}, or {(len(flights_from_NYC)/len(flights_to_sea)):.2%}, come from New York airports LGA or JFK.") #the length of the final filtered dataframes gives us the number flights, and dividing the lengths gives us the proportion of flights.

q_4: Of the 3923 flights to SEA, 2092, or 53.33%, come from New York airports LGA or JFK.

In [8]:
# #Question 5 Which date has the largest average depature delay? Pd slice with date and float
# #please make date a column. Preferred format is 2013/1/1 (y/m/d)

flights_w_date = flights_data_df.copy() #Now we are going to fundamentally change something about the flights_data_df dataframe, so I'm going to make a copy of it to work with, so the original remains unchanged.
flights_w_date['year'] = flights_w_date['year'].astype(str) #Because what we're going to do is CONCATENATE year, month, and day to create a new 'date' column, and so first, they have to be converted from integers to strings.
flights_w_date['month'] = flights_w_date['month'].astype(str)
flights_w_date['day'] = flights_w_date['day'].astype(str)
flights_w_date['date'] = flights_w_date['year'] + '/' + flights_w_date['month'] + '/' + flights_w_date['day'] #This is the line that CONCATENATES the three to make a new 'date' column.

avg_dep_delay_by_date = flights_w_date.groupby(['date'], as_index = False)['dep_delay'].mean() #Here is where we finally start answering Question 5. We DON'T FILTER, though the ([ is still used. We group by the numerous records with the same date, and then we mean all the dep_delays for each date. Making as_index = False is command 1 of 2 to ensure that we can retrieve date VALUES rather than index positions.

dd_max = avg_dep_delay_by_date['dep_delay'].max() #Here we get the MAXIMUM average departure delay (and can thus find its corresponding date too)
print(f"q_5: The maximum average departure delay, of {round(dd_max, 2)} minutes, occurs on {avg_dep_delay_by_date[avg_dep_delay_by_date['dep_delay'] == dd_max]['date'].values[0]}.") #okay. the dd_max is the maximum number of minutes (as a float, rather than a datetime, but whatever). And to retrieve the date, we filter so that we can isolate the 'date' of dd_max, AND this is command 2 of 2 to ensure we get the VALUE rather than the index position.

q_5: The maximum average departure delay, of 83.54 minutes, occurs on 2013/3/8.

In [9]:
# #Question 6 Which date has the largest average arrival delay? pd slice with date and float
avg_arr_delay_by_date = flights_w_date.groupby(['date'], as_index = False)['arr_delay'].mean() #Thank goodness, this Question is just like Question 5, except with arrival delays. Mostly just substituting "arr" for "dep"

ad_max = avg_arr_delay_by_date['arr_delay'].max()
print(f"q_6: The maximum average arrival delay, of {round(ad_max, 2)} minutes, occurs on {avg_arr_delay_by_date[avg_arr_delay_by_date['arr_delay'] == ad_max]['date'].values[0]}.")

q_6: The maximum average arrival delay, of 85.86 minutes, occurs on 2013/3/8.

In [10]:
# #Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
# #speed = distance/airtime

flights_LGA_JFK_2013 = flights_data_df.copy() #I'm going to answer this one by adding a "speed" column, so I'm making a copy of the original df to work with, again.
flights_LGA_JFK_2013 = flights_LGA_JFK_2013[(flights_LGA_JFK_2013['origin'] == "LGA") | (flights_LGA_JFK_2013['origin'] == "JFK")] #Classic filtering ... note that ALL flights have a year of 2013, so I didn't filter for that. 
flights_LGA_JFK_2013['speed'] = flights_LGA_JFK_2013['distance']/flights_LGA_JFK_2013['air_time'] #adding that speed column, with air_fime (not airtime) as the denominator
max_speed = flights_LGA_JFK_2013['speed'].max() #We've seen this before
print(f"q_7: Of the flights departing LGA or JFK, flight number {flights_LGA_JFK_2013[flights_LGA_JFK_2013['speed'] == max_speed]['tailnum'].values[0]} flew the fastest, at {round(max_speed, 2)} mpm.") #Here again, we are reporting the tail number 'tailnum' of the fastest flight, and we're using .values[0] to get the VALUE instead of the index position.

q_7: Of the flights departing LGA or JFK, flight number N666DN flew the fastest, at 11.72 mpm.

In [16]:
# #Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans

NaN_values = weather_data_df.isna().sum() #I first compared the results using .isna() versus .isnull() and of course they were the same, but since it's NaN you want, I wanted to be precise in usage.

for v in weather_data_df.isna():
    weather_data_zero = weather_data_df[v] == 0 #This means for each value in the dataframe that is NaN, change it to zero and save it as a new dataframe. 

print("q_8: \nThe following columns in the original weather_data_df have a corresponding number of NaN values:")
print(NaN_values, "\n")

print("The following columns in the new weather_data_df (renamed weather_data_zero) have a corresponding number of NaN values:")
print(weather_data_zero.isna().sum()) #I used ".isna().sum()" to succinctly show NaN values present in the original dataset and absent in the new dataset.

q_8:
The following columns in the original weather_data_df have a corresponding number of NaN values:
Unnamed: 0      0
origin          0
year            0
month           1
day             1
hour            1
temp            1
dewp            1
humid           1
wind_dir      233
wind_speed      1
wind_gust       1
precip          0
pressure      939
visib           0
dtype: int64

The following columns in the new weather_data_df (renamed weather_data_zero) have a corresponding number of NaN values:
0

%% Numpy Data Filtering/Sorting Question Answering
(Use weather_data_np)

In [12]:
# #Question 9 How many observations were made in Feburary? Int

month_col = weather_data_arr[:,3] #returns the 'month' column of the original array. 'month_col' is also an array.
feb_obs = np.where(month_col == 2) #using np.where returns a TUPLE CONTAINING AN ARRAY OF INDEX POSITIONS WHERE VALUE IS 2. So within the tuple, there is literally 1 array, which is why if we were to do len(feb_obs), we would get an answer of 1.
print(f"q_9: A total of {len(feb_obs[0])} observations were made in February.") #THIS allows us to find the length of the array [position 0] within the tuple feb_obs. we want to count the number of index positions within the array, the array itself being index 0, as it's the only thing in the tuple.

q_9: A total of 671 observations were made in February.

In [13]:
# #Question 10 What was the mean for humidity in February? Float
feb_mask = weather_data_arr[:,3] == 2 # I suppose this is another way to get a 1-D Boolean mask to lay over a 2-D array. I wanted to make sure the other 'columns' in the array were accessible to me after I filtered for February. 
weather_data_feb = weather_data_arr[feb_mask] #this ensures that we have all the columns and are not just isolating the 'month' column
average_humidity = np.mean(weather_data_feb[:,8], axis=0) #because with our february filtered array, we want the mean humidity, but NOT the mean of all the columns, some of which are object datatypes anyway. Axis = the dimensions that are being averaged. 0 means columns, 1 means rows.
print(f"q_10: The average humidity for February was {round(average_humidity,2)}%.")

q_10: The average humidity for February was 62.92%.

In [14]:
# #Question 11 What was the std for humidity in February? Float
std_humidity = np.std(weather_data_feb[:,8], axis=0) #Thank goodness this is just like Question 10, except with std instead of mean.
print(f"q_11: The standard deviation for humidity in February was {round(std_humidity,2)}%.")

q_11: The standard deviation for humidity in February was 20.34%.